<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h2> S'enregistrer </h2>
        </div>
        <div class="card-body">
          <div class="col-sm-8 col-sm-offset-2">
            <form  #userForm="ngForm"  (ngSubmit)="addUser(userForm.value)"  >
              <div class="form-group">
                <label for="firstname">
                  Prénom
                </label>
                <input type="text" id="firstname" name="firstname" class="form-control"  ngModel required>
              </div>
              <div class="form-group">
                <label for="lastname">
                  Nom
                </label>
                <input type="text" id="lastname" name="lastname" class="form-control"  ngModel required>
              </div>
                <div class="form-group">
                  <label for="birthdate">
                   Date de naissance
                  </label>
                  <input type="Date" id="birthdate" name="birthdate" class="form-control"  ngModel  required>
                </div>
                <div class="form-group">
                    <label for="cin">
                        Numéro du CIN
                    </label>
                    <input type="number" id="cin" name="cin" class="form-control"  maxlength="8" minlength="8"  ngModel  required>
                </div>
                <div class="form-group">
                    <label for="phone">
                        Numéro du Téléphone
                    </label>
                    <input type="number" id="phone" name="phone" class="form-control"  maxlength="8" minlength="8"  ngModel  required>
                </div>
                <div class="form-group">
                    <label for="address">
                        Addresse
                    </label>
                    <input type="texte" id="address" name="address" class="form-control"  ngModel  required>
                </div>
                <div class="form-group">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" id="email" name="email" class="form-control"  ngModel  required>
                </div>
                <div class="form-group">
                    <label for="login">
                        Login
                    </label>
                    <input type="text" id="login" name="login" class="form-control"  ngModel  required>
                </div>
                <div class="form-group">
                    <label for="mdp">
                        Mot de passe
                    </label>
                    <input type="password" id="mdp" name="mdp" class="form-control"  ngModel  required>
                </div>

              <div>
                <button  type="submit" [disabled]="!userForm.form.valid"  class="btn btn-primary">Enregistrer</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
